@mixin fadeInit {
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  opacity: 0;
  transform: translateY(100px);
}
.animate-fade {
  opacity: 0;
}
.fade {
  @include fadeInit;
}
.fade-delay01 {
  @include fadeInit;
  animation-delay: 0.5s;
}
.fade-delay02 {
  @include fadeInit;
  animation-delay: 1s;
}

@keyframes fadeIn {
  0% {
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
