@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap");
/*** The new CSS reset - version 1.11.1 (last updated 24.10.2023) ***/
*:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg*, symbol*)) {
  all: unset;
  display: revert;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

a,
button {
  cursor: revert;
}

ol,
ul,
menu,
summary {
  list-style: none;
}

img {
  max-inline-size: 100%;
  max-block-size: 100%;
}

table {
  border-collapse: collapse;
}

input,
textarea {
  -webkit-user-select: auto;
}

textarea {
  white-space: revert;
}

meter {
  -webkit-appearance: revert;
  appearance: revert;
}

:where(pre) {
  all: revert;
  box-sizing: border-box;
}

::placeholder {
  color: unset;
}

:where([hidden]) {
  display: none;
}

:where([contenteditable]:not([contenteditable=false])) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
  -webkit-user-select: auto;
}

:where([draggable=true]) {
  -webkit-user-drag: element;
}

:where(dialog:modal) {
  all: revert;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Noto Sans JP", "Noto Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  color: #000;
  font-size: 1rem;
  line-height: 1.7;
}
@media screen and (max-width: 769px) {
  body {
    font-size: 0.875rem;
  }
}

img {
  vertical-align: bottom;
  max-width: 100%;
  height: auto;
}

input,
button,
textarea,
select {
  -webkit-appearance: none;
  appearance: none;
}
input:focus,
button:focus,
textarea:focus,
select:focus {
  outline-offset: 4px;
}

.page-body-wrapper {
  position: relative;
}

.header {
  background: #000;
  padding: 45px 50px;
}
@media screen and (max-width: 769px) {
  .header {
    padding: 24px;
  }
}
.header__inner {
  display: flex;
  justify-content: space-between;
}
.header__title {
  color: #fff;
  font-weight: bold;
}
.header__logo {
  max-width: 65px;
}
@media screen and (max-width: 769px) {
  .header__logo {
    max-width: 40px;
  }
}

.sr-only {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

.d-b {
  display: block !important;
}

.d-ib {
  display: inline-block !important;
}

.d-i {
  display: inline !important;
}

.d-none {
  display: none !important;
}

@media screen and (max-width: 769px) {
  .sp-d-b {
    display: block !important;
  }
  .sp-d-ib {
    display: inline-block !important;
  }
  .sp-d-i {
    display: inline !important;
  }
  .sp-d-none {
    display: none !important;
  }
}
.m-sm {
  margin: 8px;
}

.m-m {
  margin: 16px;
}

.m-lg {
  margin: 24px;
}

.m-xl {
  margin: 48px;
}

.m-xxl {
  margin: 64px;
}

.m-xxxl {
  margin: 180px;
}

.mt-sm {
  margin-top: 8px;
}

.mt-m {
  margin-top: 16px;
}

.mt-lg {
  margin-top: 24px;
}

.mt-xl {
  margin-top: 48px;
}

.mt-xxl {
  margin-top: 64px;
}

.mt-xxxl {
  margin-top: 180px;
}

.mb-sm {
  margin-bottom: 8px;
}

.mb-m {
  margin-bottom: 16px;
}

.mb-lg {
  margin-bottom: 24px;
}

.mb-xl {
  margin-bottom: 48px;
}

.mb-xxl {
  margin-bottom: 64px;
}

.mb-xxxl {
  margin-bottom: 180px;
}

.mr-sm {
  margin-right: 8px;
}

.mr-m {
  margin-right: 16px;
}

.mr-lg {
  margin-right: 24px;
}

.mr-xl {
  margin-right: 48px;
}

.mr-xxl {
  margin-right: 64px;
}

.mr-xxxl {
  margin-right: 180px;
}

.ml-sm {
  margin-left: 8px;
}

.ml-m {
  margin-left: 16px;
}

.ml-lg {
  margin-left: 24px;
}

.ml-xl {
  margin-left: 48px;
}

.ml-xxl {
  margin-left: 64px;
}

.ml-xxxl {
  margin-left: 180px;
}

.mt-0 {
  margin-top: 0px !important;
}

.mb-0 {
  margin-bottom: 0px !important;
}

.ml-0 {
  margin-left: 0px !important;
}

.mr-0 {
  margin-right: 0px !important;
}

.mt-5 {
  margin-top: 5px !important;
}

.mb-5 {
  margin-bottom: 5px !important;
}

.ml-5 {
  margin-left: 5px !important;
}

.mr-5 {
  margin-right: 5px !important;
}

.mt-10 {
  margin-top: 10px !important;
}

.mb-10 {
  margin-bottom: 10px !important;
}

.ml-10 {
  margin-left: 10px !important;
}

.mr-10 {
  margin-right: 10px !important;
}

.mt-15 {
  margin-top: 15px !important;
}

.mb-15 {
  margin-bottom: 15px !important;
}

.ml-15 {
  margin-left: 15px !important;
}

.mr-15 {
  margin-right: 15px !important;
}

.mt-20 {
  margin-top: 20px !important;
}

.mb-20 {
  margin-bottom: 20px !important;
}

.ml-20 {
  margin-left: 20px !important;
}

.mr-20 {
  margin-right: 20px !important;
}

.mt-25 {
  margin-top: 25px !important;
}

.mb-25 {
  margin-bottom: 25px !important;
}

.ml-25 {
  margin-left: 25px !important;
}

.mr-25 {
  margin-right: 25px !important;
}

.mt-30 {
  margin-top: 30px !important;
}

.mb-30 {
  margin-bottom: 30px !important;
}

.ml-30 {
  margin-left: 30px !important;
}

.mr-30 {
  margin-right: 30px !important;
}

.mt-35 {
  margin-top: 35px !important;
}

.mb-35 {
  margin-bottom: 35px !important;
}

.ml-35 {
  margin-left: 35px !important;
}

.mr-35 {
  margin-right: 35px !important;
}

.mt-40 {
  margin-top: 40px !important;
}

.mb-40 {
  margin-bottom: 40px !important;
}

.ml-40 {
  margin-left: 40px !important;
}

.mr-40 {
  margin-right: 40px !important;
}

.mt-45 {
  margin-top: 45px !important;
}

.mb-45 {
  margin-bottom: 45px !important;
}

.ml-45 {
  margin-left: 45px !important;
}

.mr-45 {
  margin-right: 45px !important;
}

.mt-50 {
  margin-top: 50px !important;
}

.mb-50 {
  margin-bottom: 50px !important;
}

.ml-50 {
  margin-left: 50px !important;
}

.mr-50 {
  margin-right: 50px !important;
}

.pt-0 {
  padding-top: 0px !important;
}

.pb-0 {
  padding-bottom: 0px !important;
}

.pl-0 {
  padding-left: 0px !important;
}

.pr-0 {
  padding-right: 0px !important;
}

.pt-5 {
  padding-top: 5px !important;
}

.pb-5 {
  padding-bottom: 5px !important;
}

.pl-5 {
  padding-left: 5px !important;
}

.pr-5 {
  padding-right: 5px !important;
}

.pt-10 {
  padding-top: 10px !important;
}

.pb-10 {
  padding-bottom: 10px !important;
}

.pl-10 {
  padding-left: 10px !important;
}

.pr-10 {
  padding-right: 10px !important;
}

.pt-15 {
  padding-top: 15px !important;
}

.pb-15 {
  padding-bottom: 15px !important;
}

.pl-15 {
  padding-left: 15px !important;
}

.pr-15 {
  padding-right: 15px !important;
}

.pt-20 {
  padding-top: 20px !important;
}

.pb-20 {
  padding-bottom: 20px !important;
}

.pl-20 {
  padding-left: 20px !important;
}

.pr-20 {
  padding-right: 20px !important;
}

.pt-25 {
  padding-top: 25px !important;
}

.pb-25 {
  padding-bottom: 25px !important;
}

.pl-25 {
  padding-left: 25px !important;
}

.pr-25 {
  padding-right: 25px !important;
}

.pt-30 {
  padding-top: 30px !important;
}

.pb-30 {
  padding-bottom: 30px !important;
}

.pl-30 {
  padding-left: 30px !important;
}

.pr-30 {
  padding-right: 30px !important;
}

.pt-35 {
  padding-top: 35px !important;
}

.pb-35 {
  padding-bottom: 35px !important;
}

.pl-35 {
  padding-left: 35px !important;
}

.pr-35 {
  padding-right: 35px !important;
}

.pt-40 {
  padding-top: 40px !important;
}

.pb-40 {
  padding-bottom: 40px !important;
}

.pl-40 {
  padding-left: 40px !important;
}

.pr-40 {
  padding-right: 40px !important;
}

.pt-45 {
  padding-top: 45px !important;
}

.pb-45 {
  padding-bottom: 45px !important;
}

.pl-45 {
  padding-left: 45px !important;
}

.pr-45 {
  padding-right: 45px !important;
}

.pt-50 {
  padding-top: 50px !important;
}

.pb-50 {
  padding-bottom: 50px !important;
}

.pl-50 {
  padding-left: 50px !important;
}

.pr-50 {
  padding-right: 50px !important;
}

.p-0 {
  padding: 0 !important;
}

.px-0 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.pb-0 {
  padding-bottom: 0 !important;
}

@media screen and (min-width: 769px) {
  .mqup-p-0 {
    padding: 0 !important;
  }
  .mqup-px-0 {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .mqup-pb-0 {
    padding-bottom: 0 !important;
  }
}
.w-sp {
  width: 390px;
}

.w-tab {
  width: 768px;
}

.w-ms {
  width: 900px;
}

.w-m {
  width: 1000px;
}

.w-lg {
  width: 1200px;
}

.w-full {
  width: 100%;
}

.w-5 {
  width: 5%;
}

.w-10 {
  width: 10%;
}

.w-15 {
  width: 15%;
}

.w-20 {
  width: 20%;
}

.w-25 {
  width: 25%;
}

.w-30 {
  width: 30%;
}

.w-35 {
  width: 35%;
}

.w-40 {
  width: 40%;
}

.w-45 {
  width: 45%;
}

.w-50 {
  width: 50%;
}

.ta_c {
  text-align: center;
}

.ta_l {
  text-align: left;
}

.ta_r {
  text-align: right;
}

.section__inner {
  padding: 100px 20px;
}
@media screen and (max-width: 769px) {
  .section__inner {
    padding: 64px 20px;
  }
}
.section.bg-main {
  background-color: #fee600;
}
.section.bg-black {
  background-color: #000;
}

.mv {
  position: relative;
}
.mv__inner {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}
@media screen and (max-width: 769px) {
  .mv__inner {
    flex-direction: column-reverse;
  }
}
@media screen and (min-width: 769px) {
  .mv__img {
    max-width: 33.8%;
  }
}
.mv__img > img {
  width: auto;
  height: 100%;
  object-fit: cover;
}
.mv__content {
  flex-grow: 1;
  background: #fee600;
  text-align: center;
  padding: 100px;
}
@media screen and (max-width: 1200px) {
  .mv__content {
    padding: 32px 20px;
  }
}
@media screen and (max-width: 769px) {
  .mv__content {
    padding: 24px 20px;
  }
}
.mv__content-inner {
  text-align: left;
}
@media screen and (min-width: 769px) {
  .mv__content-inner {
    display: inline-block;
  }
}
.mv__title {
  opacity: 0;
  line-height: 1.1;
  font-size: 5.25rem;
}
@media screen and (max-width: 1200px) {
  .mv__title {
    font-size: clamp(3rem, 6.25vw, 4rem);
  }
}
@media screen and (max-width: 769px) {
  .mv__title {
    font-size: clamp(2rem, 8.533vw, 3rem);
  }
}
.mv__text {
  font-size: 2.25rem;
  margin-top: 20px;
}
@media screen and (max-width: 769px) {
  .mv__text {
    font-size: clamp(1.125rem, 4.8vw, 2rem);
  }
}
.mv__btn-wrapper {
  margin-top: 50px;
}
@media screen and (max-width: 769px) {
  .mv__btn-wrapper {
    margin-top: 24px;
  }
}
.mv__btn {
  font-size: 1.75rem;
}
@media screen and (max-width: 1200px) {
  .mv__btn {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 769px) {
  .mv__btn {
    max-width: 180px !important;
    font-size: 1rem;
  }
}

.btn-wrapper {
  overflow: hidden;
  border-radius: 4px;
  padding: 8px 0;
}

.btn {
  background-color: #fff;
  max-width: 298px;
  width: 100%;
  border-radius: 4px;
  text-align: center;
  padding: 8px 18px;
  text-decoration: none;
  color: #000;
  position: relative;
  overflow: hidden;
  display: block;
  z-index: 2;
}
.btn__text {
  position: relative;
  z-index: 2;
  transition: color 0.3s;
}
.btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateX(-101%);
  background: #000;
  border-radius: 4px;
  transition: transform 0.3s;
}
.btn:hover::before {
  transform: translateX(0);
}
.btn:hover .btn__text {
  color: #fff;
}

.heading {
  text-align: center;
  color: #fee600;
  margin-block: calc((1em - 1lh) / 2);
  font-size: 3rem;
}
@media screen and (max-width: 769px) {
  .heading {
    font-size: clamp(1.5rem, 6.4vw, 2rem);
  }
}
.heading--black {
  color: #000;
}

.text {
  text-align: center;
  font-size: 1.75rem;
  margin-top: 14px;
  margin-bottom: 85px;
}
@media screen and (max-width: 769px) {
  .text {
    font-size: 1.125rem;
    max-width: 80%;
    margin-inline: auto;
    margin-bottom: 40px;
  }
}

.col-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 62px;
}
@media screen and (max-width: 769px) {
  .col-grid {
    grid-template-columns: 1fr;
  }
}
.section-01 .point {
  margin-top: 130px;
  justify-content: center;
}
@media screen and (min-width: 769px) {
  .section-01 .point {
    grid-template-columns: repeat(3, 26.5%);
  }
}
@media screen and (max-width: 769px) {
  .section-01 .point {
    margin: 80px auto 0;
    max-width: 80%;
  }
}
.section-01 .point__icon {
  text-align: center;
}
.section-01 .point__icon > img {
  width: 62px;
  height: 62px;
}
@media screen and (max-width: 1200px) {
  .section-01 .point__icon > img {
    width: 48px;
    height: 48px;
  }
}
.section-01 .point__title {
  color: #fff;
  font-size: 1.875rem;
  margin-block: calc((1em - 1lh) / 2);
  text-align: center;
  margin-top: 38px;
}
@media screen and (max-width: 1200px) {
  .section-01 .point__title {
    font-size: 1.5rem;
    margin-top: 24px;
  }
}
.section-01 .point__text {
  color: #fee600;
  font-size: 1.5rem;
  margin-block: calc((1em - 1lh) / 2);
  margin-top: 25px;
}
@media screen and (max-width: 1200px) {
  .section-01 .point__text {
    font-size: 1.125rem;
    margin-top: 18px;
  }
}

.section-02 .catch {
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 769px) {
  .section-02 .catch {
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (min-width: 769px) {
  .section-02 .catch__img {
    margin-right: 10%;
  }
}
@media screen and (max-width: 769px) {
  .section-02 .catch__img {
    max-width: 70%;
    margin-inline: auto;
  }
}
.section-02 .catch__title {
  font-size: 6.75rem;
  font-weight: normal;
}
@media screen and (max-width: 769px) {
  .section-02 .catch__title {
    margin-top: 24px;
    font-size: clamp(3rem, 12.8vw, 4rem);
  }
}
.section-02 .catch__text {
  font-size: 1.875rem;
  font-weight: bold;
  margin-top: 32px;
}
@media screen and (max-width: 769px) {
  .section-02 .catch__text {
    font-size: 1.5rem;
    margin-top: 24px;
  }
}

.section-03 .heading {
  margin-block: calc((1em - 1lh) / 2);
  text-align: left;
  line-height: 1.1;
}
.section-03 .features {
  display: flex;
}
@media screen and (max-width: 769px) {
  .section-03 .features {
    flex-direction: column;
  }
}
.section-03 .features__item:nth-child(1) {
  flex-grow: 1;
}
@media screen and (min-width: 769px) {
  .section-03 .features__item:nth-child(1) {
    padding: 100px;
  }
}
@media screen and (min-width: 769px) {
  .section-03 .features__item:nth-child(2) {
    flex: 0 0 50%;
  }
}
.section-03 .features__img {
  height: 100%;
}
.section-03 .features__img > img {
  height: inherit;
  object-fit: cover;
}
.section-03 .features-list {
  margin-top: 60px;
}
@media screen and (max-width: 769px) {
  .section-03 .features-list {
    margin-top: 32px;
    margin-bottom: 32px;
  }
}
.section-03 .features-list > li {
  display: flex;
  align-items: center;
  margin-top: 30px;
}
@media screen and (max-width: 769px) {
  .section-03 .features-list > li {
    margin-top: 18px;
  }
}
.section-03 .features-list > li:first-child {
  margin-top: 0;
}
.section-03 .features-list__img {
  flex: 0 0 114px;
}
@media screen and (max-width: 769px) {
  .section-03 .features-list__img {
    flex: 0 0 90px;
  }
}
.section-03 .features-list__text {
  font-size: 1.25rem;
  margin-left: 28px;
  line-height: 1.3;
}
@media screen and (max-width: 769px) {
  .section-03 .features-list__text {
    margin-left: 20px;
    font-size: 1.125rem;
  }
}

@media screen and (max-width: 769px) {
  .section-04 .plan .col-grid {
    gap: 40px;
  }
}
.section-04 .plan__bg {
  background: url("/assets/images/img04.jpg") center center/cover no-repeat;
  position: relative;
  padding: 60px 7.32%;
}
.section-04 .plan__title {
  font-size: clamp(2rem, 4.166vw, 3.125rem);
  font-weight: bold;
  color: #fee600;
  margin-bottom: 14px;
  letter-spacing: 0.08em;
}
@media screen and (max-width: 769px) {
  .section-04 .plan__title {
    max-width: 80%;
    margin-inline: auto;
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 769px) {
  .section-04 .plan .disc-list {
    max-width: 80%;
    margin-inline: auto;
  }
}
.section-04 .plan .disc-list li {
  font-size: 1.25rem;
  margin-block: calc((1em - 1lh) / 2);
}
@media screen and (max-width: 769px) {
  .section-04 .plan .disc-list li {
    font-size: 1.125rem;
  }
}
.section-04 .plan .btn-wrapper {
  margin-top: 50px;
}
@media screen and (max-width: 769px) {
  .section-04 .plan .btn-wrapper {
    margin-top: 24px;
  }
}
@media screen and (max-width: 769px) {
  .section-04 .plan .btn {
    max-width: 80%;
    margin-inline: auto;
  }
}
.section-04 .plan .btn::before {
  background: #fee600;
}
.section-04 .plan .btn__text {
  color: #000;
}

.disc-list {
  list-style: disc;
  text-align: left;
  padding: 0 0 0 1em;
  font-size: 1.1rem;
  color: #fff;
}
.disc-list li {
  margin-bottom: 8px;
  line-height: 1.7;
  letter-spacing: 0.02em;
}

.section-05 .col-grid {
  margin-top: 100px;
  gap: 62px;
}
@media screen and (max-width: 769px) {
  .section-05 .col-grid {
    gap: 100px;
  }
}
.section-05 .voice {
  position: relative;
}
@media screen and (max-width: 769px) {
  .section-05 .voice {
    max-width: 80%;
    margin-inline: auto;
  }
}
.section-05 .voice__img {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media screen and (max-width: 769px) {
  .section-05 .voice__img {
    width: 120px;
    height: 120px;
  }
}
.section-05 .voice__title {
  background-color: #fee600;
  padding: 100px 32px 24px;
  border-radius: 8px;
  font-size: 1.625rem;
}
@media screen and (max-width: 769px) {
  .section-05 .voice__title {
    padding: 64px 24px 18px;
    font-size: 1.125rem;
  }
}
.section-05 .voice__text {
  margin-top: 30px;
  font-size: 1.25rem;
}
@media screen and (max-width: 769px) {
  .section-05 .voice__text {
    margin-top: 16px;
    font-size: 1rem;
  }
}

.section-06 .cta {
  display: flex;
}
@media screen and (max-width: 769px) {
  .section-06 .cta {
    flex-direction: column;
  }
}
.section-06 .cta__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media screen and (min-width: 769px) {
  .section-06 .cta__content {
    margin-left: 7.32%;
    padding-right: 20px;
  }
}
@media screen and (max-width: 769px) {
  .section-06 .cta__content {
    max-width: 80%;
    margin-inline: auto;
    margin-top: 24px;
  }
}
.section-06 .cta__text {
  color: #fee600;
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 80px;
}
@media screen and (max-width: 769px) {
  .section-06 .cta__text {
    font-size: 2rem;
    margin-bottom: 24px;
  }
}
.section-06 .cta .btn::before {
  background: #fee600;
}
.section-06 .cta .btn__text {
  color: #000;
}
.section-06 .logo-area {
  padding: 40px 50px;
}
@media screen and (max-width: 769px) {
  .section-06 .logo-area .logo {
    max-width: 80%;
    margin-inline: auto;
  }
}

.footer {
  background-color: #fee600;
}
.footer .contact {
  display: flex;
}
@media screen and (max-width: 769px) {
  .footer .contact {
    flex-direction: column;
  }
}
.footer .contact__img > img {
  height: 100%;
  object-fit: cover;
}
@media screen and (max-width: 769px) {
  .footer .contact__img > img {
    width: 100%;
    max-height: 300px;
  }
}
.footer .contact__content {
  margin-left: 7.32%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 2rem;
  font-weight: bold;
}
@media screen and (min-width: 769px) {
  .footer .contact__content {
    padding: 20px 20px 20px 0;
  }
}
@media screen and (max-width: 769px) {
  .footer .contact__content {
    margin-left: 0;
    font-size: 1.125rem;
    padding: 20px;
  }
}
.footer .contact__content .heading {
  margin-bottom: 48px;
}
@media screen and (max-width: 769px) {
  .footer .contact__content .heading {
    margin-bottom: 24px;
    font-size: 1.5rem;
  }
}
.footer .contact__address {
  margin-bottom: 48px;
}
@media screen and (max-width: 769px) {
  .footer .contact__address {
    margin-bottom: 24px;
  }
}
.footer .contact__tel {
  margin-bottom: 48px;
}
@media screen and (max-width: 769px) {
  .footer .contact__tel {
    margin-bottom: 24px;
  }
}
.animate-fade {
  opacity: 0;
}

.fade {
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  opacity: 0;
  transform: translateY(100px);
}

.fade-delay01 {
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  opacity: 0;
  transform: translateY(100px);
  animation-delay: 0.5s;
}

.fade-delay02 {
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  opacity: 0;
  transform: translateY(100px);
  animation-delay: 1s;
}

@keyframes fadeIn {
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
