// colors
$base-color: #fff;
$main-color: #fee600;

$text-color: #000;

$black: #000;
$white: #000;

// margins/paddings
$sm: 8px;
$m: 16px;
$lg: 24px;
$xl: 48px;
$xxl: 64px;
$xxxl: 180px;

// width
$w-sp: 390px;
$w-tab: 768px;
$w-ms: 900px;
$w-m: 1000px;
$w-lg: 1200px;
$w-full: 100%;

// trim
$leading-trim: calc((1em - 1lh) / 2);
