@use "../settings/variables" as *;
@use "../settings/functions" as *;
@use "../mixins/breakpoints" as *;

.header {
  background: $black;
  padding: 45px 50px;
  @include mq {
    padding: 24px;
  }
  &__inner {
    display: flex;
    justify-content: space-between;
  }
  &__title {
    color: $white;
    font-weight: bold;
  }
  &__logo {
    max-width: 65px;
    @include mq {
      max-width: 40px;
    }
  }
}
