@use "../mixins/breakpoints" as *;

@for $i from 0 through 10 {
  $num: $i * 5;

  .pt-#{$num} {
    padding-top: #{$num}px !important;
  }
  .pb-#{$num} {
    padding-bottom: #{$num}px !important;
  }
  .pl-#{$num} {
    padding-left: #{$num}px !important;
  }
  .pr-#{$num} {
    padding-right: #{$num}px !important;
  }
}

.p-0 {
  padding: 0 !important;
}
.px-0 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.pb-0 {
  padding-bottom: 0 !important;
}

@include mqup {
  .mqup-p-0 {
    padding: 0 !important;
  }
  .mqup-px-0 {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .mqup-pb-0 {
    padding-bottom: 0 !important;
  }
}
